<% @books.each do |book| %>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>　</th>
    </tr>
    <tr>
      <th>リーダブルコード</th>
      <th>より良いコードを書くためのシンプルで実践的なテクニック</th>
      <th>
        <%= link_to "show", "/show" %>
        <%= link_to "edit", "/edit" %>
        <%= link_to "destroy", "/new" %>
      </th>
    </tr>
    <tr>
      <th>トラブル知らずのシステム設計</th>
      <th>システム設計の要点を図解で説明してくれます</th>
      <th>
        <%= link_to "show", "/show" %>
        <%= link_to "edit", "/edit" %>
        <%= link_to "destroy", "/new" %>
      </th>
    </tr>
    <tr>
      <th>たのしいRuby</th>
      <th>Rubyの入門におすすsめです</th>
      <th>
        <%= link_to "show", "/show" %>
        <%= link_to "edit", "/edit" %>
        <%= link_to "destroy", "/new" %>
      </th>
    </tr>
    <tr>
      <th>入門Git</th>
      <th>gitについての基本操作から内部構造まで解説してくれます</th>
      <th>
        <%= link_to "show", "/show" %>
        <%= link_to "edit", "/edit" %>
        <%= link_to "destroy", "/new" %>
      </th>
    </tr>
    <tr>
      <th>アルゴリズム図鑑</th>
      <th>アルゴリズムについてカラーイラストでしっかり解説してくれます</th>
      <th>
        <%= link_to "show", "/show" %>
        <%= link_to "edit", "/edit" %>
        <%= link_to "destroy", "/new" %>
      </th>
    </tr>
    <tr>
      <th>達人プログラマー</th>
      <th>プログラマ入門者は必読！</th>
      <th>
        <%= link_to "show", "/show" %>
        <%= link_to "edit", "/edit" %>
        <%= link_to "destroy", "/new" %>
      </th>
    </tr>
    <tr>
      <th>データベース実践入門</th>
      <th>効率的なSQL文を教えてくれます</th>
      <th>
        <%= link_to "show", "/show" %>
        <%= link_to "edit", "/edit" %>
        <%= link_to "destroy", "/new" %>
      </th>
    </tr>
  </thead>
</table>
<% end %>